<?xml version="1.0"?>
<launch>
  <!-- Same experiment lifecycle, nominal law and hardware settings as B. -->
  <arg name="robot_ip" />
  <arg name="robot" default="fr3" />
  <arg name="arm_id" default="$(arg robot)" />
  <arg name="load_gripper" default="false" />
  <arg name="xacro_args" default="" />
  <arg name="control_config" default="$(find franka_control)/config/directional_cbf_real.yaml" />
  <arg name="state_publish_rate" default="1000" />
  <arg name="rviz" default="false" />
  <arg name="rqt_reconfigure" default="false" />
  <arg name="plot_energies" default="false" />
  <arg name="plot_joint_limits" default="false" />
  <arg name="record_cbf" default="true" />
  <arg name="log_dir" default="$(env HOME)/.ros/directional_cbf_real" />
  <arg name="rosbag" default="false" />
  <arg name="bag_prefix" default="$(env HOME)/directional_cbf_real" />
  <arg name="cbf_active" default="false" />
  <arg name="Kmax" default="1.0" />
  <arg name="alpha" default="1.0" />
  <arg name="damping_ratio" default="1.0" />
  <arg name="direction_x" default="1.0" />
  <arg name="direction_y" default="0.0" />
  <arg name="direction_z" default="0.0" />
  <arg name="mobility_epsilon" default="1e-8" />
  <arg name="derivative_filter_alpha" default="0.05" />
  <include file="$(find franka_example_controllers)/launch/cartesian_impedance_directional_kinetic_energy_cbf_controller.launch" pass_all_args="true">
    <arg name="controller_name" value="cartesian_impedance_cbf_controller"/>
  </include>
</launch>
