<?xml version="1.0"?>
<launch>
  <arg name="robot_ip"/>
  <arg name="controller_name" default="cartesian_impedance_directional_kinetic_energy_cbf_controller"/>
  <arg name="robot" default="fr3"/>
  <arg name="arm_id" default="$(arg robot)"/>
  <arg name="load_gripper" default="false"/>
  <arg name="xacro_args" default=""/>
  <arg name="control_config" default="$(find franka_control)/config/directional_cbf_real.yaml"/>
  <arg name="state_publish_rate" default="1000"/>
  <arg name="rviz" default="false"/>
  <arg name="rqt_reconfigure" default="false"/>
  <arg name="plot_energies" default="false"/>
  <arg name="plot_joint_limits" default="false"/>
  <arg name="record_cbf" default="true"/>
  <arg name="log_dir" default="$(env HOME)/.ros/directional_cbf_real"/>
  <arg name="rosbag" default="false"/>
  <arg name="bag_prefix" default="$(env HOME)/directional_cbf_real"/>
  <arg name="cbf_active" default="false"/>
  <arg name="Kmax" default="1.0"/>
  <arg name="alpha" default="1.0"/>
  <arg name="damping_ratio" default="1.0"/>
  <arg name="direction_x" default="1.0"/>
  <arg name="direction_y" default="0.0"/>
  <arg name="direction_z" default="0.0"/>
  <arg name="mobility_epsilon" default="1e-8"/>
  <arg name="derivative_filter_alpha" default="0.05"/>

  <param name="use_sim_time" value="false"/>
  <param name="cbf_active" value="$(arg cbf_active)" type="bool"/>
  <param name="Kmax" value="$(arg Kmax)" type="double"/>
  <param name="alpha" value="$(arg alpha)" type="double"/>
  <param name="damping_ratio" value="$(arg damping_ratio)" type="double"/>
  <param name="direction_x" value="$(arg direction_x)" type="double"/>
  <param name="direction_y" value="$(arg direction_y)" type="double"/>
  <param name="direction_z" value="$(arg direction_z)" type="double"/>
  <param name="mobility_epsilon" value="$(arg mobility_epsilon)" type="double"/>

  <include file="$(find franka_control)/launch/franka_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="robot" value="$(arg robot)"/>
    <arg name="arm_id" value="$(arg arm_id)"/>
    <arg name="load_gripper" value="$(arg load_gripper)"/>
    <arg name="xacro_args" value="$(arg xacro_args)"/>
    <arg name="control_config" value="$(arg control_config)"/>
    <arg name="state_publish_rate" value="$(arg state_publish_rate)"/>
  </include>
  <rosparam command="load" file="$(find franka_example_controllers)/config/franka_example_controllers.yaml" subst_value="true"/>
  <group ns="$(arg controller_name)">
    <param name="runtime_environment" value="real"/>
    <param name="derivative_filter_alpha" value="$(arg derivative_filter_alpha)" type="double"/>
    <param name="hardware_torque_rate" value="999.0"/>
    <param name="max_update_seconds" value="0.0009"/>
    <param name="max_period_seconds" value="0.002"/>
  </group>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
        args="$(arg controller_name)"/>

  <!-- Existing position JTC is loaded on the first explicit initialization request. -->
  <node name="trajectory_publisher" pkg="franka_trajectory" type="linear" output="screen">
    <param name="runtime_environment" value="real"/>
    <param name="arm_id" value="$(arg arm_id)"/>
    <param name="enable_joint_initialization" value="true"/>
    <param name="cartesian_controller" value="$(arg controller_name)"/>
    <param name="cbf_dynamic_reconfigure_service"
           value="/$(arg controller_name)/dynamic_reconfigure_compliance_param_node/set_parameters"/>
    <param name="joint_trajectory_controller" value="position_joint_trajectory_controller"/>
    <param name="initialization_velocity_scale" value="0.1"/>
    <param name="initialization_velocity_cap" value="0.2"/>
    <param name="initialization_acceleration_cap" value="0.5"/>
    <param name="initialization_jerk_cap" value="1.0"/>
    <param name="directional_experiment_service"
           value="/$(arg controller_name)/start_experiment"/>
    <param name="recording_start_service" value="/directional_cbf_recorder/start" if="$(arg record_cbf)"/>
  </node>
  <node pkg="franka_example_controllers" type="record_directional_cbf.py"
        name="directional_cbf_recorder" output="screen" if="$(arg record_cbf)">
    <param name="runtime_environment" value="real"/>
    <param name="output_dir" value="$(arg log_dir)"/>
    <param name="controller_name" value="$(arg controller_name)"/>
    <param name="arm_id" value="$(arg arm_id)"/>
  </node>
  <include file="$(find franka_example_controllers)/launch/joint_limit_diagnostics.launch">
    <arg name="arm_id" value="$(arg arm_id)"/>
    <arg name="plot_joint_limits" value="$(arg plot_joint_limits)"/>
  </include>
  <node pkg="rosbag" type="record" name="rosbag_recorder" if="$(arg rosbag)"
        args="-o $(arg bag_prefix) /cbf_info /directional_cbf/diagnostics /directional_cbf/phase /franka_state_controller/franka_states /joint_states /rosout"/>
  <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_energies" if="$(arg plot_energies)"
        args="/cbf_info/kinetic_energy /cbf_info/directional_kinetic_energy /cbf_info/Kmax"/>
  <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" if="$(arg rqt_reconfigure)"/>
  <node pkg="rviz" type="rviz" name="rviz" if="$(arg rviz)"
        args="-d $(find franka_example_controllers)/launch/rviz/franka_description_with_marker.rviz -f $(arg arm_id)_link0"/>
</launch>
